---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import FeaturedTreatment from '../components/FeaturedTreatment.astro';
import HolepInfo from '../components/HolepInfo.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<main>
		<FeaturedTreatment />
		<HolepInfo />
		<Services />
		<Testimonials />
		<Contact />
	</main>
	<Footer />
</Layout>
